<div class="flex flex-row gap-4 mb-4">
  <mat-form-field class="w-72">
    <mat-label>Search posts</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Search posts..."
      class="h-10"
    />
  </mat-form-field>

  <mat-form-field class="w-72">
    <mat-label>User ID</mat-label>
    <input
      matInput
      type="number"
      [(ngModel)]="selectedUserId"
      placeholder="Filter by user ID"
      class="h-10"
    />
  </mat-form-field>

  <div class="self-center">
    <mat-checkbox [(ngModel)]="showFavoritesOnly">Favorites Only</mat-checkbox>
  </div>
</div>
